
.App-container{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: linear-gradient(-45deg, #1d2b64, #f8cdda, #43e97b, #38f9d7, #a1c4fd, #c2e9fb);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
